<div class="col-4">
  <span> Удалить пользователя </span>
  <%= form_with url: "/user_delete", method: :post do |form| %>
    <div>
      <select name="id" id="id" style='margin-top: 10px'>
      <% User.find_each do |user| %>
        <option value="<%=user.id%>">
          <%= "#{user.last_name} #{user.first_name} #{user.surname}" %>
        </option>
      <% end %>
      </select>
    </div>
    <%= form.submit "Удалить", {class: 'btn', style: 'margin-top: 90px'}%>
  <% end %>
</div>