<div class="col md 12 center-block">
  <span> Добавить условия труда </span>
  <%= form_with url: "/employment_term_create", method: :post do |form| %>
    <div>
      <span>  Пользователь: </span>
      <select name="user_id" id="user_id">
      <% User.find_each do |user| %>
        <option value="<%=user.id%>">
          <%= "#{user.last_name} #{user.first_name} #{user.surname}" %>
        </option>
      <% end %>
      </select>
    </div>
    <div>
      <span> Подразделение: </span>
      <select name="division_id" id="division_id">
      <% Division.find_each do |division| %>
        <option value="<%=division.id%>">
          <%= division.name %>
        </option>
      <% end %>
      </select>
    </div>
    <div>
      <span> Должность: </span>
      <select name="position_id" id="position_id">
      <% Position.find_each do |position| %>
        <option value="<%=position.id%>">
          <%= position.name %>
        </option>
      <% end %>
      </select>
    </div>
    <%= form.submit "Сохранить" %>
  <% end %>
</div>