<div class="col md 6 center-block">
  <span> Редактировать должность </span>
  <%= form_with url: "/position_update", method: :post do |form| %>
      <select name="id" id="id">
      <% Position.find_each do |position| %>
        <option value="<%=position.id%>">
          <%= "#{position.name} #{} #{}" %>
        </option>
      <% end %>
      </select>
    <%= form.text_field :name%>
    <%= form.submit "Сохранить" %>
  <% end %>
</div>