<div class="col-4">
  <span> Редактировать пользователя </span>
  <%= form_with url: "/user_update", method: :post do |form| %>
    <div>
      <select name="id" id="id">
      <% User.find_each do |user| %>
        <option value="<%=user.id%>">
          <%= "#{user.last_name} #{user.first_name} #{user.surname}" %>
        </option>
      <% end %>
      </select>
    </div>
    <%= form.text_field :first_name, {class: 'input', style: 'margin-top: 4px', placeholder: 'Имя'}%>
    <%= form.text_field :last_name, {class: 'input', style: 'margin-top: 4px',  placeholder: 'Фамилия'}%>
    <%= form.text_field :surname, {class: 'input', style: 'margin-top: 4px',  placeholder: 'Отчество'}%>
    <%= form.submit "Сохранить", {class: 'btn', style: 'margin-top: 4px' }%>
  <% end %>
</div>