<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.3.0/lodash.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class='container'>
      <div class="row">
        <div class='col-2'>
          <button onclick="window.location='/show'" style="margin-top: 15px" class="btn">Иeрархия</button>
          <button onclick="window.location='/show_user'" style="margin-top: 15px" class="btn">Пользователи</button>
        </div>
        <div class='col-10'>
          <div class="row align-items-center" style="margin-top: 15px">
            <%= render partial: 'layouts/create/user' %> 
            <%= render partial: 'layouts/update/user' %>
            <%= render partial: 'layouts/delete/user' %>
          </div>
          <div class="row align-items-center" style="margin-top: 50px">
            <%= render partial: 'layouts/create/employment_term' %> 
          </div>
          <div class="row align-items-center" style="margin-top: 50px">
            <%= render partial: 'layouts/create/position' %>
            <%= render partial: 'layouts/update/position' %>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript">

  </script>
</html>
